@model IEnumerable<WebApplication1.Models.Сотрудники>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (@Html.BeginForm("Index", "Сотрудники"))
    {
        @Html.TextBox("filter", "", new { style = "width:100%" })
        <br />
        <input type="submit" class="btn btn-primary" value="Отфильтровать по фамилии" />
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Спортивный_клуб.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Имя)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Фамилия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Отчество)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Телефон)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Должность)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Общий_стаж)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Зарплата)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Спортивный_клуб.Название)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Имя)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Фамилия)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Отчество)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Телефон)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Должность)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Общий_стаж)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Зарплата)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Сотрудника }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Сотрудника }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Сотрудника })
        </td>
    </tr>
}

</table>
