@model WebApplication1.Models.Секция

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Секция</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Тренер.Спортивный_разряд)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тренер.Спортивный_разряд)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество_людей)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_людей)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Секция1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Секция1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вид_спорта)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вид_спорта)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Группы }) |
    @Html.ActionLink("Back to List", "Index")
</p>
