@model WebApplication1.Models.Результат

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Результат</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Соревнования.Тип_соревнований)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Соревнования.Тип_соревнований)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Спортсмен.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Спортсмен.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Занятое_место)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Занятое_место)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Время)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Время)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Набрано_очков)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Набрано_очков)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Соревнования)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Соревнования)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Соревнования_ID_Соревнований)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Соревнования_ID_Соревнований)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Результата }) |
    @Html.ActionLink("Back to List", "Index")
</p>
