@model WebApplication1.Models.Спортивный_клуб

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Спортивный_клуб</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Владелец.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Владелец.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Телефон)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Телефон)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_основания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_основания)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Спорт_клуба }) |
    @Html.ActionLink("Back to List", "Index")
</p>
