@model WebApplication1.Models.Спортивный_клуб

@{
    ViewBag.Title = "Details";
}

<h2>Подробно</h2>

<div>
    <h4>Спортивный_клуб</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Телефон)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Телефон)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Сауна)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сауна)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Тренажерный_зал)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тренажерный_зал)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Бассейн)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Бассейн)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Бар)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Бар)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Массажный_кабинет)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Массажный_кабинет)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_основания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_основания)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_Спорт_клуба }) |
    @Html.ActionLink("Вернуться к таблице", "Index")
</p>
