@model IEnumerable<WebApplication1.Models.Спортивный_клуб>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
    @*
        <th>
            @Html.DisplayNameFor(model => model.Владелец.Имя)
        </th>
    *@
        <th>
            @Html.DisplayNameFor(model => model.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Адрес)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Телефон)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_основания)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*
        <td>
            @Html.DisplayFor(modelItem => item.Владелец.Имя)
        </td>
            *@
        <td>
            @Html.DisplayFor(modelItem => item.Название)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Адрес)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Телефон)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_основания)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Спорт_клуба }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Спорт_клуба }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Спорт_клуба })
        </td>
    </tr>
}

</table>
