@model IEnumerable<WebApplication1.Models.Спортивный_клуб>

@{
    ViewBag.Title = "Спортивный клуб";
}

    <h2>Спортивный клуб</h2>

<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Адрес)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Телефон)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_основания)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Название)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Адрес)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Телефон)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_основания)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_Спорт_клуба }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.ID_Спорт_клуба }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Спорт_клуба })
        </td>
    </tr>
}

</table>
