@model WebApplication1.Models.Спортсмен

@{
    ViewBag.Title = "Details";
}

<h2>Подробно</h2>

<div>
    <h4>Спортсмен</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фамилия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пол)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Пол)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_рождения)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_рождения)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Группа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Группа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Телефон)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Телефон)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Гражданство)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Гражданство)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Адрес_проживания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес_проживания)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_Спортсмена }) |
    @Html.ActionLink("Вернуться к таблице", "Index")
</p>
