@model IEnumerable<WebApplication1.Models.Спортсмен>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Договор.Кем_выдан_паспорт)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Результат.Занятое_место)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Имя)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Фамилия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Пол)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_рождения)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Телефон)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Договор.Кем_выдан_паспорт)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Результат.Занятое_место)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Имя)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Фамилия)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Пол)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_рождения)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Телефон)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Спортсмена }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Спортсмена }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Спортсмена })
        </td>
    </tr>
}

</table>
