@model IEnumerable<WebApplication1.Models.Спортсмен>

@{
    ViewBag.Title = "Спортсмен";
}

    <h2>Спортсмен</h2>

<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Имя)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Фамилия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Пол)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_рождения)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Телефон)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Имя)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Фамилия)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Пол)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_рождения)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Телефон)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_Спортсмена }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.ID_Спортсмена }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Спортсмена })
        </td>
    </tr>
}

</table>
