@model WebApplication1.Models.Владелец

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Владелец</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Спортивный_клуб.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Спортивный_клуб.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фамилия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Телефон)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Телефон)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_рождения)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_рождения)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пол)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Пол)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Владельца }) |
    @Html.ActionLink("Back to List", "Index")
</p>
