@model IEnumerable<WebApplication1.Models.Договор>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       @* <th>
            @Html.DisplayNameFor(model => model.Секция.Секция1)
        </th>
           
        <th>
            @Html.DisplayNameFor(model => model.Спортсмен.Имя)
        </th>
           *@
        <th>
            @Html.DisplayNameFor(model => model.Дата_заключения)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Стоимость)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Серия_и_номер_паспорта)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_выдачи_паспорта)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Кем_выдан_паспорт)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Срок_действия_договора)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*
        <td>
            @Html.DisplayFor(modelItem => item.Секция.Секция1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Спортсмен.Имя)
        </td>
            *@
        <td>
            @Html.DisplayFor(modelItem => item.Дата_заключения)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Стоимость)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Серия_и_номер_паспорта)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_выдачи_паспорта)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Кем_выдан_паспорт)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Срок_действия_договора)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Номер_договора }) |
            @Html.ActionLink("Details", "Details", new { id=item.Номер_договора }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Номер_договора })
        </td>
    </tr>
}

</table>
