@model WebApplication1.Models.Соревнования

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>Соревнования</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Дата_соревнований)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_соревнований)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Тип_соревнований)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тип_соревнований)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вид_спорта)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вид_спорта)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Спонсор_соревнований)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Спонсор_соревнований)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Город)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Город)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к таблице", "Index")
        </div>
    }
</div>
