@model IEnumerable<WebApplication1.Models.Соревнования>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Дата_соревнований)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Тип_соревнований)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Вид_спорта)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Спонсор_соревнований)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Место_проведения)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_соревнований)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Тип_соревнований)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Вид_спорта)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Спонсор_соревнований)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Место_проведения)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Соревнований }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Соревнований }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Соревнований })
        </td>
    </tr>
}

</table>
