@model IEnumerable<WebApplication1.Models.Подготовка_к_соревнованиям>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>@*
        <th>
            @Html.DisplayNameFor(model => model.Секция.Секция1)
        </th>
            *@
        <th>
            @Html.DisplayNameFor(model => model.Спортивный_клуб.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Тренер.Спортивный_разряд)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_тренировки)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Соревнования)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Секция.Секция1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Спортивный_клуб.Название)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Тренер.Спортивный_разряд)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_тренировки)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Соревнования)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Тренировки }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Тренировки }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Тренировки })
        </td>
    </tr>
}

</table>
